nav{
  float: right;
  list-style: none;
  margin-top: 35px;
}
nav li{
  display: inline-block;
}
nav li a:hover{
  border:2px solid green;
}
nav li a{
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  color: blue
}
header{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZDH2vzSGy7ly6eLsYs-9OQn1W5mIxAJndI0mUsmosg-IaTBTD);
height:100vh;
background-size: cover;
background-position: center;
}
h1{
  color: white;
  text-align: center;
  position: relative;
  font-size: 60px;
  left: 196px;
  top: 322px;
}
h2{
  color:white;
  text-align: center;
  position: relative;
  top:279px;
  left:18px;
  font-size: 60px;
}
#about h3 { padding: 0;
color: green;

}
#about p { font-size: 1.2em;
color: #000;

}
#about h4 {
  padding: 0;
  color: green;
}
#about{
  background-color: red;
}
#hobbies p {
  font-size: 1.2em;
  color:blue;
}
ol{
  background: #ff9999;
  padding: 20px;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
#contacts p{
  font-size: 20px;
  color: green;
}
