nav{
  float: right;
  list-style: none;
  margin-top: 35px;
}
nav li{
  display: inline-block;
}
nav li a:hover{
  border:2px solid green;
}
nav li a{
  padding: 5px;
  font-size: 30px;
  text-decoration: none;
  color: blue
}
header{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZDH2vzSGy7ly6eLsYs-9OQn1W5mIxAJndI0mUsmosg-IaTBTD);
height:100vh;
background-size: cover;
background-position: center;
}
